a:hover{
    text-decoration: none;
}

*{
    font-family: "Georgia", FreeSerif, serif;
}
    
code, pre, tt {
    font-family: Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 28px;
    color: #444;
}

div.panel-hover {
	border: 1px solid #888;
}